includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  # Components
  - libs/parser/phpstan.neon
  - libs/phpdoc/phpstan.neon
  - libs/printer/phpstan.neon
  # - libs/reader/phpstan.neon
  - libs/types/phpstan.neon
parameters:
  level: max
  strictRules:
    allRules: true
  fileExtensions:
    - php
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
