<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         backupGlobals="true"
         stopOnFailure="false"
         processIsolation="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory="vendor/.cache.phpunit"
         backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="components">
            <directory>libs/parser/tests</directory>
            <directory>libs/phpdoc/tests</directory>
            <directory>libs/phpdoc-standard-tags/tests</directory>
            <directory>libs/phpdoc-template-tags/tests</directory>
            <directory>libs/printer/tests</directory>
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory>libs/parser/src</directory>
            <directory>libs/phpdoc/src</directory>
            <directory>libs/phpdoc-standard-tags/src</directory>
            <directory>libs/phpdoc-template-tags/src</directory>
            <directory>libs/printer/src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
